.move-right{
  margin-left: 18px !important;
}
.move-left{
  padding-right: 5px !important;
}
.u-section-1 .u-sheet-1 {
  min-height: 552px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin: 50px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 759px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 11px;
}

.u-section-1 .u-image-1 {
  height: 213px;
  margin: 0 19px;
}

.u-section-1 .u-text-1 {
  margin: 29px auto 0 19px;
}

.u-section-1 .u-text-2 {
  margin: 9px 19px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 41px 50px 0 140px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: -34px auto 0 19px;
  padding: 2px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 11px;
}

.u-section-1 .u-image-2 {
  height: 213px;
  margin: 0 19px;
}

.u-section-1 .u-text-4 {
  margin: 29px auto 0 19px;
}

.u-section-1 .u-text-5 {
  margin: 9px 19px 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 41px 50px 0 140px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: -34px auto 0 19px;
  padding: 2px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 11px;
}

.u-section-1 .u-image-3 {
  height: 213px;
  margin: 0 19px;
}

.u-section-1 .u-text-7 {
  margin: 29px auto 0 19px;
}

.u-section-1 .u-text-8 {
  margin: 9px 19px 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 41px 50px 0 140px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: -34px auto 0 19px;
  padding: 2px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 11px;
}

.u-section-1 .u-image-4 {
  height: 213px;
  margin: 0 19px;
}

.u-section-1 .u-text-10 {
  margin: 29px auto 0 19px;
}

.u-section-1 .u-text-11 {
  margin: 9px 19px 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 41px 50px 0 140px;
}

.u-section-1 .u-btn-4 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: -34px auto 0 19px;
  padding: 2px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 11px;
}

.u-section-1 .u-image-5 {
  height: 213px;
  margin: 0 19px;
}

.u-section-1 .u-text-13 {
  margin: 29px auto 0 19px;
}

.u-section-1 .u-text-14 {
  margin: 9px 19px 0;
}

.u-section-1 .u-text-15 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 41px 50px 0 140px;
}

.u-section-1 .u-btn-5 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: -34px auto 0 19px;
  padding: 2px 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 11px;
}

.u-section-1 .u-image-6 {
  height: 213px;
  margin: 0 19px;
}

.u-section-1 .u-text-16 {
  margin: 29px auto 0 19px;
}

.u-section-1 .u-text-17 {
  margin: 9px 19px 0;
}

.u-section-1 .u-text-18 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 41px 50px 0 140px;
}

.u-section-1 .u-btn-6 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: -34px auto 0 19px;
  padding: 2px 0;
}

@media (max-width: 1300px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 626px;
  }

  .u-section-1 .u-image-1 {
    height: 173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
   
  }

  .u-section-1 .u-text-3 {
    margin-top: 35px;
    
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: -28px;
  }

  .u-section-1 .u-image-2 {
    height: 173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    
  }

  .u-section-1 .u-text-6 {
    
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-image-3 {
    height: 173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    
  }

  .u-section-1 .u-text-9 {
    
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-image-4 {
    height: 173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-11 {
    
  }

  .u-section-1 .u-text-12 {
   
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-image-5 {
    height: 173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-14 {
    
  }

  .u-section-1 .u-text-15 {
   
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-image-6 {
    height: 173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-17 {
    
  }

  .u-section-1 .u-text-18 {
   
  }

  .u-section-1 .u-btn-6 {
    font-size: 0.875rem;
  }
}
@media(max-width: 1200px){
  .move-right{
    margin-left: 0px !important;
  }

@media (max-width: 1200px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1079px;
  }

  .u-section-1 .u-image-1 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 309px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -21px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 309px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 309px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 309px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 309px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 309px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 190px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -13px;
  }

  .u-section-1 .u-image-2 {
    height: 190px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-3 {
    height: 190px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-4 {
    height: 190px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-5 {
    height: 190px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-6 {
    height: 190px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.5rem;
  }
}